<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="WebAppLog" fileName="${log-path}/alicesfavs-webapp.log"
                     filePattern="${log-path}/alicesfavs-webapp-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="ProductRedirectLog" fileName="${log-path}/product-redirect.log"
                     filePattern="${log-path}/product-redirect-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="root" level="INFO" additivity="false">
            <appender-ref ref="WebAppLog" level="INFO"/>
            <appender-ref ref="Console" level="INFO"/>
        </Logger>
        <Logger name="ProductRedirectLog" level="INFO" additivity="false">
            <appender-ref ref="ProductRedirectLog" level="INFO"/>
        </Logger>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="WebAppLog"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
