# refresh site manager
5,35 * * * * wget -a /opt/apache-tomcat-8.0.28/logs/refresh-site-manager.log http://52.27.245.48/refresh/site-manager

# eddiebauer
25 10 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh eddiebauer >> /dev/null 2>&1
25 16 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh eddiebauer >> /dev/null 2>&1
25 22 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh eddiebauer >> /dev/null 2>&1

# potterybarn
30 10 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh potterybarn >> /dev/null 2>&1
30 16 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh potterybarn >> /dev/null 2>&1
30 22 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh potterybarn >> /dev/null 2>&1

# rebeccaminkoff
35 10 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh rebeccaminkoff >> /dev/null 2>&1
35 16 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh rebeccaminkoff >> /dev/null 2>&1

# anthropologie
40 10 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1
40 16 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1

# anntaylor
50 10 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anntaylor >> /dev/null 2>&1
50 16 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anntaylor >> /dev/null 2>&1

# michaelkors
52 10 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh michaelkors >> /dev/null 2>&1
52 16 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh michaelkors >> /dev/null 2>&1

# madewell
55 10 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh madewell >> /dev/null 2>&1
55 16 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh madewell >> /dev/null 2>&1
55 22 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh madewell >> /dev/null 2>&1

# jcrew
01 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh jcrew >> /dev/null 2>&1
01 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh jcrew >> /dev/null 2>&1
01 23 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh jcrew >> /dev/null 2>&1

# williams-sonoma
10 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh williams-sonoma >> /dev/null 2>&1
10 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh williams-sonoma >> /dev/null 2>&1

# toryburch
20 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh toryburch >> /dev/null 2>&1
20 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh toryburch >> /dev/null 2>&1

# verabradley
25 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh verabradley >> /dev/null 2>&1
25 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh verabradley >> /dev/null 2>&1
25 23 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh verabradley >> /dev/null 2>&1

# sorel
30 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh sorel >> /dev/null 2>&1
30 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh sorel >> /dev/null 2>&1
30 23 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh sorel >> /dev/null 2>&1

# ugg
32 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh ugg >> /dev/null 2>&1
32 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh ugg >> /dev/null 2>&1
32 23 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh ugg >> /dev/null 2>&1

# colehaan
35 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh colehaan >> /dev/null 2>&1
35 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh colehaan >> /dev/null 2>&1
35 23 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh colehaan >> /dev/null 2>&1

# coach
37 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh coach >> /dev/null 2>&1
37 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh coach >> /dev/null 2>&1
37 23 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh coach >> /dev/null 2>&1

# toms
40 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh toms >> /dev/null 2>&1
40 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh toms >> /dev/null 2>&1
40 23 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh toms >> /dev/null 2>&1

# crateandbarrel
45 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh crateandbarrel >> /dev/null 2>&1
45 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh crateandbarrel >> /dev/null 2>&1
45 23 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh crateandbarrel >> /dev/null 2>&1
