# refresh site manager
5,35 * * * * wget -a /opt/apache-tomcat-8.0.28/logs/refresh-site-manager.log http://localhost/refresh/site-manager

# daily report
50 23 * * * /opt/alicesfavs/site-scrape-batch/daily-report.sh 3  >> /dev/null 2>&1

# madewell - running at midnight only as getting unavailable products when running during daytime
55 06 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh madewell >> /dev/null 2>&1

# jcrew - running at midnight only as getting unavailable products when running during daytime
#01 06 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh jcrew >> /dev/null 2>&1

# anthropologie - running often in daytime as products get unavailable quickly
40 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1
40 13 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1
40 15 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1
40 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1
40 19 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1
40 21 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1
40 23 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1
40 01 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1
40 03 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anthropologie >> /dev/null 2>&1

# stuartweitzman
50 11 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh stuartweitzman usePhantomJS >> /dev/null 2>&1
50 16 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh stuartweitzman usePhantomJS >> /dev/null 2>&1

# michaelkors
11 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh michaelkors >> /dev/null 2>&1
#11 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh michaelkors >> /dev/null 2>&1

# anntaylor
14 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anntaylor >> /dev/null 2>&1
14 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh anntaylor >> /dev/null 2>&1

# rebeccaminkoff
18 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh rebeccaminkoff >> /dev/null 2>&1
18 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh rebeccaminkoff >> /dev/null 2>&1

# potterybarn
21 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh potterybarn >> /dev/null 2>&1
21 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh potterybarn >> /dev/null 2>&1

# surlatable
26 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh surlatable >> /dev/null 2>&1
26 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh surlatable >> /dev/null 2>&1

# williams-sonoma
29 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh williams-sonoma >> /dev/null 2>&1
29 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh williams-sonoma >> /dev/null 2>&1

# toryburch
33 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh toryburch >> /dev/null 2>&1
33 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh toryburch >> /dev/null 2>&1

# verabradley
37 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh verabradley >> /dev/null 2>&1
37 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh verabradley >> /dev/null 2>&1

# katespade
41 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh katespade >> /dev/null 2>&1
41 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh katespade >> /dev/null 2>&1

# colehaan
44 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh colehaan >> /dev/null 2>&1
44 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh colehaan >> /dev/null 2>&1

# coach
47 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh coach usePhantomJS >> /dev/null 2>&1
47 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh coach usePhantomJS >> /dev/null 2>&1

# aldo
52 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh aldo >> /dev/null 2>&1
52 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh aldo >> /dev/null 2>&1

# vince
56 12 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh vince >> /dev/null 2>&1
56 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh vince >> /dev/null 2>&1

# loft
01 13 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh loft >> /dev/null 2>&1
01 14 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh loft >> /dev/null 2>&1
01 15 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh loft >> /dev/null 2>&1
01 16 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh loft >> /dev/null 2>&1
01 17 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh loft >> /dev/null 2>&1
01 18 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh loft >> /dev/null 2>&1
01 22 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh loft >> /dev/null 2>&1

# abercrombie
06 13 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh abercrombie >> /dev/null 2>&1
06 18 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh abercrombie >> /dev/null 2>&1

# boden - this may take longer than 10 minutes
11 13 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh boden usePhantomJS >> /dev/null 2>&1
11 19 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh boden usePhantomJS >> /dev/null 2>&1

# crateandbarrel
35 13 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh crateandbarrel >> /dev/null 2>&1
35 19 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh crateandbarrel >> /dev/null 2>&1

# armaniexchange
40 13 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh armaniexchange usePhantomJS >> /dev/null 2>&1
40 19 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh armaniexchange usePhantomJS >> /dev/null 2>&1

# toms
50 13 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh toms >> /dev/null 2>&1
50 19 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh toms >> /dev/null 2>&1

# eileenfisher
53 13 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh eileenfisher >> /dev/null 2>&1
53 19 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh eileenfisher >> /dev/null 2>&1

# ugg
55 13 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh ugg usePhantomJS >> /dev/null 2>&1
55 19 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh ugg usePhantomJS >> /dev/null 2>&1

# clarks
59 13 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh clarks usePhantomJS >> /dev/null 2>&1
59 19 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh clarks usePhantomJS >> /dev/null 2>&1

# llbean
04 14 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh llbean usePhantomJS >> /dev/null 2>&1
04 20 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh llbean usePhantomJS >> /dev/null 2>&1

# marcjacobs
11 14 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh marcjacobs usePhantomJS >> /dev/null 2>&1
11 20 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh marcjacobs usePhantomJS >> /dev/null 2>&1

# swarovski
14 14 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh swarovski >> /dev/null 2>&1
14 20 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh swarovski >> /dev/null 2>&1

# vincecamuto
19 14 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh vincecamuto usePhantomJS >> /dev/null 2>&1
19 20 * * * /opt/alicesfavs/site-scrape-batch/site-scrape-batch.sh vincecamuto usePhantomJS >> /dev/null 2>&1
